body{
    margin: 0;
}
table{
    background-color: red;
}

tr:hover{
    background-color: teal;
}
form{
    background-color: tomato;
}

.heading{
    background-color: teal;
    min-height:50px ;
    max-height:100px ;
    min-width: 50px;
    max-width: 200px;
    overflow-y: scroll;
}

