<form action="/postTweet" method="post">
<input type="text" placeholder="Who's tweeting? (name)" name="username"> <br>
<textarea name="tweet" id="" cols="30" rows="10" maxlength="48"></textarea>
<input type="submit" value="Tweet">
</form>